.layout {
  height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  align-content: center;
}

.layout.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.layout.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.layout.frame {
  background-color: #ddd8;
}
