body {
  padding: 8px;
  font: 14px Helvetica, Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  background-image: radial-gradient(gray 0.5px, transparent 0.5px);
  background-size: 15px 15px;
  background-position: 0 0;
  cursor: default;
}

/* Margins make sense in a document, but we use headers at the top of sections,
 * so don't use margins by default. */
h1, h2, h3 {
  margin: 0;
}

[role=button] {
  cursor: pointer;
}

.frame {
  border-radius: 8px;
  padding: 8px;
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset legend {
  font-size: 0.8em;
}
