body {
  padding: 8px;
  font: 14px Helvetica, Arial, sans-serif;
  height: calc(100vh - 16px);
  background-color: white;
  background-image: radial-gradient(gray 0.5px, transparent 0.5px),
                    radial-gradient(gray 0.5px, transparent 0.5px);
  background-size: 5px 5px;
  background-position: 0 0, 2.5px 2.5px;
}

header {
  font-size: 2em;
}
