body {
  padding: 8px;
  font: 14px Helvetica, Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  background-image: radial-gradient(gray 0.5px, transparent 0.5px),
                    radial-gradient(gray 0.5px, transparent 0.5px);
  background-size: 5px 5px;
  background-position: 0 0, 2.5px 2.5px;
  cursor: default;
}

/* Margins make sense in a document, but we use headers at the top of sections,
 * so don't use margins by default. */
h1, h2 {
  margin: 0;
}

[role=button] {
  cursor: pointer;
}
